<!DOCTYPE html>
<html>
<head>
  <title>Demo</title>
  <%= stylesheet_link_tag    "resources/css/ext-all-debug.css", :media => "all" %>
  <%= javascript_include_tag "ext-all-debug" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
